h1{

text-align: center;
}



li{
list-style: none;
width:  180px;
height: 180px;
margin: 1vw;
overflow:hidden;
font-size: 16px;
}

#buttonFlex li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#buttonFlex li h1 {
    font-size: 24px;
}
#buttonFlex li p {
    margin: 2px 8px;
}

#artifcerID{
    background-color: gold;
    
   
 
   
}

#barbarianID{
    
background-color: rgb(233, 87, 2);
}

#bardID{
background-color: plum;
}



#buttonFlex
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }