h1{

text-align: center;
}



li{
list-style: none;
width: 25vw;
height: 25vw;
margin: 1vw;
overflow:hidden;
font-size: 1vw;
}

#artifcerID{
    background-color: gold;
    font-family: "Times New Roman", Times, serif;
}

#barbarianID{
    
background-color: rgb(233, 87, 2);
}

#bardID{
background-color: plum;
}



#buttonFlex
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }