#welcomeText{

text-align: center;
font-size: 50;
font-family: 'Asap', sans-serif;
}

#para1{

    text-align: center;
    font-size: 25px;
    font-family: 'Asap', sans-serif;


}



#beginbutton{
    /* Positioning */
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
  
    /* Text-styling */
    color: white;
    font-family: 'Asap', sans-serif;  
    font-size: 15px;
    /* General box-styling */
    background-color: red;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    
    /* Special */
    cursor: pointer;
}
